<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>product Data</h1>
    <h2><%=product.firstname%></h2>
    <h2><%=product.lastname%></h2>
    <h2><%=product.email%></h2>
    <h2><%=product.password%></h2>
   
</body>
</html>